<div class="backdrop"></div>
<header class="header">
    <!-- <button id="side-menu-toggle">Menu</button> -->
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a class="<%= path === '/test' ? 'active' : '' %>" href="/test">Alle Clients</a>
            </li>
            <!-- <li class="header__nav__item">
                <a class="<%= path === '/xyz' ? 'active' : '' %>" href="/xyz">XYZ</a>
            </li> -->
        </ul>
    </nav>
</header>