<div class="backdrop"></div>
<header class="header">
    <!-- <button id="side-menu-toggle">Menu</button> -->
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a href="/test">Alle Clients</a>
            </li>
        </ul>
    </nav>
</header>