.button {
  padding: 0.5rem;
  border: none;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
    color: white;
    background: var(--primaryColor);
}

.button--primary:hover {
  background: var(--primaryColorDarker);
}

.button--secondary {
    color: white;
    background: var(--secondaryColor);
}

.button--secondary:hover {
  background: var(--secondaryColorDarker);
}

.button--danger {
  color: white;
  background: var(--dangerColor);
}

.button--danger:hover {
  background: var(--dangerColorDarker);
}
