<%- include('../includes/head.ejs') %>
</head>

<body>
        <main>
            <p>
                This is the new main page: <%= hello %> 
            </p>
        </main>
<%- include('../includes/end.ejs') %>