<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/button.css">
</head>

<body>
        <main>
            <p>
                This is the new main page: <%= hello %> ?!? 
            </p>
            <button type="button" class="button">Save</button>
        </main>
<%- include('../includes/end.ejs') %>